//========= banner section =========
.banner-section {
  background-color: transparent;
  .container {
    .banner-wrap {
      background-color: #95afc0;
      height: 70vh;
      @include d-flex;
      align-items: center;
      .banner-desc {
        max-width: 50%;
        flex-basis: 50%;
        padding: 40px;
        &_title {
          margin-bottom: 20px;
          h2 {
            color: var(--org-black);
            font-size: 32px;
            font-family: var(--raleway);
            font-weight: 600;
            text-transform: capitalize;
            letter-spacing: 0.9px;
            line-height: 140%;
            span {
              color: var(--lite-blue);
            }
          }
          p {
            font-size: 18px;
            color: var(--org-white-2);
            font-family: var(--raleway);
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-top: 20px;
          }
        }
        &_btn-block {
          @include d-flex;
          align-items: center;
          gap: 20px;
        }
      }
      .banner-img {
        max-width: 50%;
        flex-basis: 50%;
        height: 100%;
        @include bg-img;
      }
    }
  }
}

//========= banner section =========

//========= content block section =========
.content-block {
  background-color: var(--org-white-2);
  padding: 80px 0;
  .container {
    .info-wrap {
      @include d-flex;
      align-items: center;
      gap: 90px;
      .text--desc {
        max-width: 46%;
        flex-basis: 46%;
        .name {
          width: 100%;
          margin-bottom: 10px;
          span {
            display: inline-block;
            color: #95afc0;
            font-size: 18px;
            font-family: var(--raleway);
            font-weight: 600;
            letter-spacing: 0.8px;
            text-transform: uppercase;
            position: relative;
            padding-left: 50px;
            &::after {
              position: absolute;
              content: "";
              width: 40px;
              height: 1px;
              background-color: #868a9b;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }
        h2 {
          color: var(--org-black);
          font-size: 35px;
          font-family: var(--raleway);
          font-weight: 700;
          text-transform: capitalize;
          line-height: 130%;
          letter-spacing: 1px;
        }
        p {
          text-align: left;
          color: #868a9b;
          font-family: var(--raleway);
          font-size: 16px;
          font-weight: 400;
          line-height: 150%;
          letter-spacing: 0;
          margin: 28px 0;
        }
      }
      .detail--box {
        max-width: 46%;
        flex-basis: 46%;
        &_header {
          background-color: rgba(134, 138, 155, 0.1);
          padding: 25px 60px;
          h3 {
            font-size: 17px;
            font-family: var(--raleway);
            font-weight: 600;
            color: var(--org-black);
            text-transform: uppercase;
            line-height: 130%;
            letter-spacing: 0.5px;
          }
        }
        &_body {
          background-color: var(--white);
          padding: 60px;
          ul {
            list-style: none;
            li {
              span {
                display: inline-block;
                min-width: 95px;
                color: #868a9b;
                font-size: 16px;
                font-family: var(--raleway);
                font-weight: 400;
                text-transform: capitalize;
                letter-spacing: 0.5px;
                a {
                  text-decoration: none;
                  color: var(--org-black);
                  font-size: 14px;
                  text-transform: lowercase;
                }
                + span {
                  padding-left: 25px;
                }
              }
              + li {
                margin-top: 14px;
              }
            }
          }
        }
      }
    }
  }
}
//========= content block section =========

// separator
.seperator {
  max-width: 170px;
  margin-inline: auto;
}
// separator

// ============ page content block section ===============
.page--content {
  padding: 80px 0;
  .container {
    .title-block {
      margin-bottom: 30px;
      h3 {
        font-size: 32px;
        color: var(--org-black);
        font-family: var(--raleway);
        font-weight: 600;
        text-align: center;
        text-transform: capitalize;
        letter-spacing: 0.8px;
        padding-bottom: 10px;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 10%;
          height: 2px;
          background-color: var(--lite-blue);
        }
      }
    }
  }
}
.using-skills,
.learning-skills {
  max-width: 600px;
  margin-inline: auto;
  span {
    display: inline-block;
    font-size: 28px;
    color: var(--org-black);
    font-family: var(--raleway);
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 0.8px;
  }
  .skill-item-wrap {
    margin-top: 30px;
    @include d-flex;
    align-items: center;
    row-gap: 40px;
    .skill-item {
      max-width: 25%;
      flex-basis: 25%;
      img {
        display: block;
        margin-inline: auto;
      }
      p {
        color: #868a9b;
        font-size: 14px;
        font-family: var(--raleway);
        font-weight: 700;
        text-align: center;
        text-transform: capitalize;
        letter-spacing: 1px;
        margin-top: 10px;
      }
      i {
        display: block;
        font-size: 80px;
        text-align: center;
      }
    }
  }
}

.learning-skills {
  margin-top: 40px;
}
// ============ page content block section ===============
